<div class="animated fadeIn">
  <div class="card" id="new47">
    <div class="card-header">
      <strong>Form PO</strong>
    </div>
    <div class="card-body">
      <div>
        <tabset>
          <tab heading="PO"><app-po></app-po></tab>
          <tab heading="Progress"><app-perkembangan></app-perkembangan></tab>
          <tab heading="Perjanjian"><app-janji></app-janji></tab>
          <tab heading="Term Pembayaran"><app-pembayaran></app-pembayaran></tab>
          <tab heading="Document"><app-document></app-document></tab>
        </tabset>
      </div>
    </div>
</div>
    
