<div class="animated fadeIn">
  <div class="card" id="new47">
    <div class="card-header">
      <strong>Form Perjanjian</strong>
    </div>
    <div class="card-body">
        <div id="form-container" style="margin-left: 100px; margin-right: 200px;">
          <div *ngIf="!isAdv">
            <dx-form id="formInput" itemType="group" sssClass="first-group" [formData]="search" >
              <dxi-item itemType="group" caption="" [colCount]="3">
              <dxi-item dataField="Nomor SP2K" [colSpan]="2"></dxi-item>
            
            <dxi-item [colSpan]="1">
                <dx-button
                class="button-info"
                text="Detail"
                (onClick)="showInfo()">
            </dx-button>
            
            <dx-popup
                class="popup"
                [width]="600"
                [height]="200"
                [showTitle]="true"
                title=" Detail"
                [dragEnabled]="false"
                [closeOnOutsideClick]="true"
                [(visible)]="popupVisible">
                <div *dxTemplate="let data of 'content'">
                    <dx-form id="notes" itemType="group" sssClass="first-group" [formData]="search" [colCount]="3">
                    <dxi-item dataField="" [editorOptions]="{ disabled: true, value:tampil }"  [colSpan]="3" ></dxi-item>
                    
                    </dx-form>
                </div>
                </dx-popup>
              </dxi-item>  

              <dxi-item [colSpan]="3">
                <div id="fileuploader-container">
                   <dx-file-uploader
                       selectButtonText="Select Document"
                       labelText=""
                       accept="document/*"
                       (onValueChanged)="upload($event)"
                       uploadMode="useForm"
                       >
                   </dx-file-uploader>
                   
               </div>
               </dxi-item>

              <dxi-item dataField="Tanggal SP2K" [editorOptions]="{ disabled: false }" [colSpan]="3">
                <dx-date-box
                placeholder="Thursday, 14 Feb 2019 at 11:08"
                type="datetime"
                [showClearButton]="true"
                [useMaskBehavior]="true"
                displayFormat="EEEE, d MMM yyyy 'at' HH:mm"
                [value]="date"
                (onValueChanged)="dateBox_valueChanged($event)">>
            </dx-date-box>
            </dxi-item>
            </dxi-item>
            
              <dxi-item itemType="group" caption=" " [colCount]="3">
            <dxi-item dataField="Nomor Perjanjian" [colSpan]="2"></dxi-item>

            <dxi-item [colSpan]="1">
              <dx-button
              class="button-info"
              text="Detail"
              (onClick)="showInfo()">
          </dx-button>
          
          <dx-popup
              class="popup"
              [width]="600"
              [height]="200"
              [showTitle]="true"
              title=" Detail"
              [dragEnabled]="false"
              [closeOnOutsideClick]="true"
              [(visible)]="popupVisible">
              <div *dxTemplate="let data of 'content'">
                  <dx-form id="notes" itemType="group" sssClass="first-group" [formData]="search" [colCount]="3">
                  <dxi-item dataField="" [editorOptions]="{ disabled: true, value:tampil1 }"  [colSpan]="3" ></dxi-item>
                  
                  </dx-form>
              </div>
              </dx-popup>
            </dxi-item>  
            
            <dxi-item [colSpan]="3">
              <div id="fileuploader-container">
                 <dx-file-uploader
                     selectButtonText="Select Document"
                     labelText=""
                     accept="*"
                     (onValueChanged)="upload1($event)"
                     uploadMode="useForm"
                     >
                 </dx-file-uploader>
             </div>
             </dxi-item>

             <dxi-item dataField="Tanggal Perjanjian" [editorOptions]="{ disabled: false }" [colSpan]="3">
              <dx-date-box
              placeholder="Thursday, 14 Feb 2019 at 11:08"
              type="datetime"
              [showClearButton]="true"
              [useMaskBehavior]="true"
              displayFormat="EEEE, d MMM yyyy 'at' HH:mm"
              [value]="date"
              (onValueChanged)="dateBox_valueChanged($event)">>
          </dx-date-box>
          </dxi-item>
              </dxi-item> 
            </dx-form>
            <dx-form id="formAmandemen" itemType="group" [colCount]="3">
              <div *ngFor="let item of items; let i = index">
                <dxi-item name="txtAmandemen{{i+1}}" dataField="Amandemen{{i+1}}" caption="Amandemen" [editorOptions]="{ disabled: false }" [colSpan]="3">
                  <dx-select-box [dataSource]="simpleProducts">
                      <div *dxTemplate="let data of 'dropDownButton'">
                          
                      </div>
                   </dx-select-box>
                </dxi-item> 
                <dxi-item name="txtJenisAmandemen{{i+1}}" dataField="Jenis Amandemen{{i+1}}" [colSpan]="3"></dxi-item>
  
                <dxi-item name="txtNomorAmandemen{{i+1}}" dataField="Nomor Amandemen{{i+1}}" [colSpan]="2"></dxi-item>
  
              <dxi-item [colSpan]="1">
                <dx-button
                class="button-info"
                text="Detail"
                (onClick)="showInfo()">
            </dx-button>
            
            <dx-popup
                class="popup"
                [width]="600"
                [height]="200"
                [showTitle]="true"
                title=" Detail"
                [dragEnabled]="false"
                [closeOnOutsideClick]="true"
                [(visible)]="popupVisible">
                <div *dxTemplate="let data of 'content'">
                    <dx-form id="notes" itemType="group" sssClass="first-group" [formData]="search" [colCount]="3">
                    <dxi-item dataField="" [editorOptions]="{ disabled: true, value:tampil }"  [colSpan]="3" ></dxi-item>
                    
                    </dx-form>
                </div>
                </dx-popup>
              </dxi-item>  
  
                <dxi-item [colSpan]="3">
                  <div id="fileuploader-container">
                     <dx-file-uploader
                         selectButtonText="Select Document"
                         labelText=""
                         accept="*"
                         (onValueChanged)="upload1($event)"
                         uploadMode="useForm"
                         >
                     </dx-file-uploader>
                 </div>
                 </dxi-item>
  
                 <dxi-item name="txtTanggalAmandemen{{i+1}}" dataField="Tanggal Amandemen{{i+1}}" [editorOptions]="{ disabled: false }" [colSpan]="3">
                  <dx-date-box
                      placeholder="Thursday, 14 Feb 2019 at 11:08"
                      type="datetime"
                      [showClearButton]="true"
                      [useMaskBehavior]="true"
                      displayFormat="EEEE, d MMM yyyy 'at' HH:mm"
                      [value]="date"
                      (onValueChanged)="dateBox_valueChanged($event)">>
                  </dx-date-box>
                  </dxi-item>
              </div>                    
            </dx-form>
            <br>
            <dx-button text="Tambah Amandemen" icon="add" (click)="tambah()" ></dx-button> 
                <br>
                <br>
                <dx-button text="Submit" (click)="submit()" type="success"></dx-button>

          </div>
        </div>
      </div>
  </div>
</div>
